<h1>Counter Application</h1>
<div class="">
    <button class="btn btn-primary m-2" (click)="onIncrement()">Increment (+)</button>
    <button class="btn btn-secondary m-2" (click)="onDecrement()">Decrement (-)</button>
    <button class="btn btn-warning m-2" (click)="onReset()">RESET</button>
    <button class="btn btn-success m-2" (click)="onRename()">Rename</button>
</div>

<div class="">
    <button class="m-2" mat-raised-button color="primary" (click)="onIncrement()">Increment (+)</button>
    <button class="m-2" mat-raised-button color="accent" (click)="onDecrement()">Decrement (-)</button>
    <button class="m-2" mat-raised-button color="warn" (click)="onReset()">RESET</button>
    <button class="m-2" mat-raised-button colo="link" (click)="onRename()">Rename</button>
</div>
